<a href="https://colab.research.google.com/github/mayankjamindaruk/Machine_Learning_Bootcamp/blob/master/NewYorkTaxiFare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# To get the outpout in single window ?
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Linear Algebra and multidimentional arrays
import pandas as pd

# Data analysis and manipulation tool
import numpy as np

# Random number generator
import random 

# Specialized container data types, Counter is dictionary sub-class for counting hashtable objects
from collections import Counter

# Visualization libraries
import matplotlib.pyplot as plt

import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

# setting option to set data rows as max 500
pd.set_option('display.max_rows', 500)

In [ ]:
# Getting pandas dataframe
td = pd.read_csv('/content/nyc_yellow_taxi_data.csv')

# get data volume
td.shape

(1243241, 7)

In [ ]:
td.head()

   VendorID tpep_pickup_datetime  ... DOLocationID  fare_amount
0       1.0  2020-01-01 00:28:15  ...          239          6.0
1       1.0  2020-01-01 00:35:39  ...          238          7.0
2       1.0  2020-01-01 00:47:41  ...          238          6.0
3       1.0  2020-01-01 00:55:23  ...          151          5.5
4       2.0  2020-01-01 00:01:58  ...          193          3.5

[5 rows x 7 columns]

In [ ]:
td.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
PULocationID             float64
DOLocationID             float64
fare_amount              float64
dtype: object

In [ ]:
td.isnull().sum()

VendorID                 0
tpep_pickup_datetime     1
tpep_dropoff_datetime    1
passenger_count          1
PULocationID             1
DOLocationID             1
fare_amount              1
dtype: int64

In [ ]:
td.describe()

           VendorID  passenger_count  PULocationID  DOLocationID   fare_amount
count  1.227632e+06     1.227632e+06  1.243241e+06  1.243241e+06  1.243241e+06
mean   1.676771e+00     1.568692e+00  1.627453e+02  1.607467e+02  1.302977e+01
std    4.677094e-01     1.181809e+00  6.610786e+01  7.098176e+01  1.293962e+01
min    1.000000e+00     0.000000e+00  1.000000e+00  1.000000e+00 -1.238000e+03
25%    1.000000e+00     1.000000e+00  1.250000e+02  1.070000e+02  6.000000e+00
50%    2.000000e+00     1.000000e+00  1.610000e+02  1.620000e+02  9.000000e+00
75%    2.000000e+00     2.000000e+00  2.330000e+02  2.330000e+02  1.400000e+01
max    2.000000e+00     9.000000e+00  2.650000e+02  2.650000e+02  1.238000e+03

In [ ]:
td['PULocationID'].value_counts()

In [ ]:
td['DOLocationID'].value_counts()

In [ ]:
print('tpep_pickup_datetime->')

dateday = td[ (td['tpep_pickup_datetime'] >= '2020-01-01 00:00:00') & (td['tpep_pickup_datetime'] < '2020-01-02 00:00:00')]
print('Wed:' , dateday.shape[0])

dateday = td[ (td['tpep_pickup_datetime'] >= '2020-01-02 00:00:00') & (td['tpep_pickup_datetime'] < '2020-01-03 00:00:00')]
print('Thur:' , dateday.shape[0])

dateday = td[ (td['tpep_pickup_datetime'] >= '2020-01-03 00:00:00') & (td['tpep_pickup_datetime'] < '2020-01-04 00:00:00')]
print('Fri:' , dateday.shape[0])

dateday = td[ (td['tpep_pickup_datetime'] >= '2020-01-04 00:00:00') & (td['tpep_pickup_datetime'] < '2020-01-05 00:00:00')]
print('Sat:' , dateday.shape[0])

dateday = td[ (td['tpep_pickup_datetime'] >= '2020-01-05 00:00:00') & (td['tpep_pickup_datetime'] < '2020-01-06 00:00:00')]
print('Sun:' , dateday.shape[0])

dateday = td[ (td['tpep_pickup_datetime'] >= '2020-01-06 00:00:00') & (td['tpep_pickup_datetime'] < '2020-01-07 00:00:00')]
print('Monday:' , dateday.shape[0])

dateday = td[ (td['tpep_pickup_datetime'] >= '2020-01-07 00:00:00') & (td['tpep_pickup_datetime'] < '2020-01-08 00:00:00')]
print('Tue:' , dateday.shape[0])

tpep_pickup_datetime->
Wed: 169437
Thur: 162141
Fri: 183477
Sat: 182752
Sun: 164399
Monday: 179515
Tue: 201520

In [ ]:
print('tpep_dropoff_datetime->')

dateday = td[ (td['tpep_dropoff_datetime'] >= '2020-01-01 00:00:00') & (td['tpep_dropoff_datetime'] < '2020-01-02 00:00:00')]
print('Wed:' , dateday.shape[0])

dateday = td[ (td['tpep_dropoff_datetime'] >= '2020-01-02 00:00:00') & (td['tpep_dropoff_datetime'] < '2020-01-03 00:00:00')]
print('Thur:' , dateday.shape[0])

dateday = td[ (td['tpep_dropoff_datetime'] >= '2020-01-03 00:00:00') & (td['tpep_dropoff_datetime'] < '2020-01-04 00:00:00')]
print('Fri:' , dateday.shape[0])

dateday = td[ (td['tpep_dropoff_datetime'] >= '2020-01-04 00:00:00') & (td['tpep_dropoff_datetime'] < '2020-01-05 00:00:00')]
print('Sat:' , dateday.shape[0])

dateday = td[ (td['tpep_dropoff_datetime'] >= '2020-01-05 00:00:00') & (td['tpep_dropoff_datetime'] < '2020-01-06 00:00:00')]
print('Sun:' , dateday.shape[0])

dateday = td[ (td['tpep_dropoff_datetime'] >= '2020-01-06 00:00:00') & (td['tpep_dropoff_datetime'] < '2020-01-07 00:00:00')]
print('Monday:' , dateday.shape[0])

dateday = td[ (td['tpep_dropoff_datetime'] >= '2020-01-07 00:00:00') & (td['tpep_dropoff_datetime'] < '2020-01-08 00:00:00')]
print('Tue:' , dateday.shape[0])

tpep_dropoff_datetime->
Wed: 168195
Thur: 162052
Fri: 182810
Sat: 182314
Sun: 165612
Monday: 179696
Tue: 201286

In [ ]:
ds = td[(td['VendorID'] == 2) & (td['fare_amount'] < td['fare_amount'].mean()) & (td['passenger_count'] > int('5'))]

print(ds.head())
print(ds.shape)

     VendorID tpep_pickup_datetime  ... DOLocationID  fare_amount
195       2.0  2020-01-01 00:38:43  ...          170         12.0
218       2.0  2020-01-01 00:24:07  ...          260          5.5
219       2.0  2020-01-01 00:39:43  ...          260          7.0
220       2.0  2020-01-01 00:48:29  ...          129          6.5
453       2.0  2020-01-01 00:47:13  ...          140          7.5

[5 rows x 7 columns]
(19443, 7)

In [ ]:
ds.describe()

       VendorID  passenger_count  PULocationID  DOLocationID   fare_amount
count   19443.0     19443.000000  19443.000000  19443.000000  19443.000000
mean        2.0         6.000257    165.997994    165.288381      7.632995
std         0.0         0.025857     66.614747     68.441004      2.623450
min         2.0         6.000000      4.000000      4.000000    -65.000000
25%         2.0         6.000000    114.000000    114.000000      5.500000
50%         2.0         6.000000    162.000000    162.000000      7.500000
75%         2.0         6.000000    234.000000    234.000000      9.500000
max         2.0         9.000000    265.000000    265.000000     13.000000

In [ ]:
print('Selected Data tpep_pickup_datetime->')

dateday = ds[ (ds['tpep_pickup_datetime'] >= '2020-01-01 00:00:00') & (ds['tpep_pickup_datetime'] < '2020-01-02 00:00:00')]
print('Wed:' , dateday.shape[0])

dateday = ds[ (ds['tpep_pickup_datetime'] >= '2020-01-02 00:00:00') & (ds['tpep_pickup_datetime'] < '2020-01-03 00:00:00')]
print('Thur:' , dateday.shape[0])

dateday = ds[ (ds['tpep_pickup_datetime'] >= '2020-01-03 00:00:00') & (ds['tpep_pickup_datetime'] < '2020-01-04 00:00:00')]
print('Fri:' , dateday.shape[0])

dateday = ds[ (ds['tpep_pickup_datetime'] >= '2020-01-04 00:00:00') & (ds['tpep_pickup_datetime'] < '2020-01-05 00:00:00')]
print('Sat:' , dateday.shape[0])

dateday = ds[ (ds['tpep_pickup_datetime'] >= '2020-01-05 00:00:00') & (ds['tpep_pickup_datetime'] < '2020-01-06 00:00:00')]
print('Sun:' , dateday.shape[0])

dateday = ds[ (ds['tpep_pickup_datetime'] >= '2020-01-06 00:00:00') & (ds['tpep_pickup_datetime'] < '2020-01-07 00:00:00')]
print('Monday:' , dateday.shape[0])

dateday = ds[ (ds['tpep_pickup_datetime'] >= '2020-01-07 00:00:00') & (ds['tpep_pickup_datetime'] < '2020-01-08 00:00:00')]
print('Tue:' , dateday.shape[0])

Selected Data tpep_pickup_datetime->
Wed: 2622
Thur: 2627
Fri: 2892
Sat: 3090
Sun: 2482
Monday: 2655
Tue: 3075

In [ ]:
print('Selected Data tpep_dropoff_datetime->')

dateday = ds[ (ds['tpep_dropoff_datetime'] >= '2020-01-01 00:00:00') & (ds['tpep_dropoff_datetime'] < '2020-01-02 00:00:00')]
print('Wed:' , dateday.shape[0])

dateday = ds[ (ds['tpep_dropoff_datetime'] >= '2020-01-02 00:00:00') & (ds['tpep_dropoff_datetime'] < '2020-01-03 00:00:00')]
print('Thur:' , dateday.shape[0])

dateday = ds[ (ds['tpep_dropoff_datetime'] >= '2020-01-03 00:00:00') & (ds['tpep_dropoff_datetime'] < '2020-01-04 00:00:00')]
print('Fri:' , dateday.shape[0])

dateday = ds[ (ds['tpep_dropoff_datetime'] >= '2020-01-04 00:00:00') & (ds['tpep_dropoff_datetime'] < '2020-01-05 00:00:00')]
print('Sat:' , dateday.shape[0])

dateday = ds[ (ds['tpep_dropoff_datetime'] >= '2020-01-05 00:00:00') & (ds['tpep_dropoff_datetime'] < '2020-01-06 00:00:00')]
print('Sun:' , dateday.shape[0])

dateday = ds[ (ds['tpep_dropoff_datetime'] >= '2020-01-06 00:00:00') & (ds['tpep_dropoff_datetime'] < '2020-01-07 00:00:00')]
print('Monday:' , dateday.shape[0])

dateday = ds[ (ds['tpep_dropoff_datetime'] >= '2020-01-07 00:00:00') & (ds['tpep_dropoff_datetime'] < '2020-01-08 00:00:00')]
print('Tue:' , dateday.shape[0])

Selected Data tpep_dropoff_datetime->
Wed: 2606
Thur: 2618
Fri: 2895
Sat: 3072
Sun: 2505
Monday: 2663
Tue: 3062

In [ ]:
td1 = td.copy()

td2 = td.copy()

td1.describe()

           VendorID  passenger_count  PULocationID  DOLocationID   fare_amount
count  1.227632e+06     1.227632e+06  1.243241e+06  1.243241e+06  1.243241e+06
mean   1.676771e+00     1.568692e+00  1.627453e+02  1.607467e+02  1.302977e+01
std    4.677094e-01     1.181809e+00  6.610786e+01  7.098176e+01  1.293962e+01
min    1.000000e+00     0.000000e+00  1.000000e+00  1.000000e+00 -1.238000e+03
25%    1.000000e+00     1.000000e+00  1.250000e+02  1.070000e+02  6.000000e+00
50%    2.000000e+00     1.000000e+00  1.610000e+02  1.620000e+02  9.000000e+00
75%    2.000000e+00     2.000000e+00  2.330000e+02  2.330000e+02  1.400000e+01
max    2.000000e+00     9.000000e+00  2.650000e+02  2.650000e+02  1.238000e+03

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
td['passenger_count'].value_counts()

1.0    847452
2.0    200439
3.0     56019
5.0     45092
4.0     31127
6.0     26542
0.0     20939
7.0        11
8.0         6
9.0         5
Name: passenger_count, dtype: int64

In [ ]:
td.isnull().sum()

VendorID                 15609
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          15609
PULocationID                 0
DOLocationID                 0
fare_amount                  0
dtype: int64

In [ ]:
td1.isnull().sum()

VendorID                 15609
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          15609
PULocationID                 0
DOLocationID                 0
fare_amount                  0
dtype: int64

In [ ]:
td1['passenger_count'].fillna('1.0', inplace = True)

In [ ]:
td1.isnull().sum()

VendorID                 15609
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count              0
PULocationID                 0
DOLocationID                 0
fare_amount                  0
dtype: int64

In [ ]:
td1.describe()

           VendorID  passenger_count  PULocationID  DOLocationID   fare_amount
count  1.227632e+06     1.227632e+06  1.243241e+06  1.243241e+06  1.243241e+06
mean   1.676771e+00     1.568692e+00  1.627453e+02  1.607467e+02  1.302977e+01
std    4.677094e-01     1.181809e+00  6.610786e+01  7.098176e+01  1.293962e+01
min    1.000000e+00     0.000000e+00  1.000000e+00  1.000000e+00 -1.238000e+03
25%    1.000000e+00     1.000000e+00  1.250000e+02  1.070000e+02  6.000000e+00
50%    2.000000e+00     1.000000e+00  1.610000e+02  1.620000e+02  9.000000e+00
75%    2.000000e+00     2.000000e+00  2.330000e+02  2.330000e+02  1.400000e+01
max    2.000000e+00     9.000000e+00  2.650000e+02  2.650000e+02  1.238000e+03

In [ ]:
td2['passenger_count'].fillna('1.0', inplace = True)